{% include 'header.html' %}


<body style="background-color:#D5DBDB">
<p id="getintouch"> <h2>Get in touch</h2>

<section>
    <div id="formclass">
  	<div class="content">
       <form method="POST" action="/contact">
    {{ form.hidden_tag() }}
           {{ form.csrf_token }}
    {{ form.name.label(class='customlabel') }}
   {{ form.name(size=20, class='customclass') }}

            {{ form.email.label(class='customlabel') }}
   {{ form.email(size=20, class='customclass') }}

            {{ form.message.label(class='customlabel') }}
   {{ form.message(size=20, class='customclass') }}
    <p> <input id="button" type="submit" value="Send Message"> <a id="home" href="{{ url_for('welcome_page') }}">Home</a>
</form></div>

                                      {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                   <div style="color : #85929E">
                                    <em>
                                        {{ message }}
                                 </em>
                                </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

						</div>
    </section>
    <div style="font-weight:200; color:grey"><h4> You can reach me on 09070681389<br>Gmail:ogokeugonna@gmail.com</h4></div>
</body>

{% include "footer.html" %}