 <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <em>connect with me:</em> <a href="https://web.facebook.com/ugonna.ogoke"><i class="fa fa-facebook fa-lg fa-2x"></i></a>

<a href="https://twitter.com/OdogwuUgo"><i class="fa fa-twitter fa-lg fa-2x"></i></a>

<a href="https://www.instagram.com/ogoke.ugonna/"><i class="fa fa-instagram fa-lg fa-2x"></i></a>

<a href="https://www.linkedin.com/in/ogoke-ugonna-b64a211a0/"><i class="fa fa-linkedin fa-lg fa-2x"></i></a>

<a href="https://github.com/Ugotactics"><i class="fa fa-github fa-lg fa-2x"></i></a>

          <h6 style="color:#707B7C "><p class="copyright text-muted">Copyright &copy; Ugonna's Website {{year}}</p></h6>
        </div>
      </div>
    </div>
  </footer>