{% include 'header.html' %}

<body style="margin-top:30px">
<img width=120px src="static/images/ninjacode.png">
<h2><u>My Past projects</u></h2>
<div id="skill">
    <table>
        <th>Project</th>
        <th>Description</th>
        <th>Code on Github</th>
        <tr>
            <div style="">
                <td><h4><img width=100px src="static/images/typingspeedtest.jpg"><br>Speed Typing Tester</h4></td>
                <td>I wrote the algorithm for the speed typing test using python and some of its
                    libraries</td>
                <td>check it out on <a href="">Github</a></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><h4><img width=100px src="static/images/watermarklogo.png"><br>Pictures Watermark</h4></td>
                <td>I used the pillow library to create the algorithm for this app, it was designed with the help of
                    Tkinter</td>
                <td>check it out on <a href="">Github</a></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><h4><img width=100px src="static/images/tictactoelogo.png"><br>Tic Tac Toe</h4></td>
                <td>For a seemingly simple game, the logic behind this game is pretty respectable, I designed it
                    with the help of the Tkinter library </td>
                <td>check it out on <a href="">Github</a></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><h4><img width=100px src="static/images/websitelogo.png"><br>Blogsite</h4></td>
                <td>I created my Blog site using Flask and Jinja for the backend database and HTML and Css with a
                    touch of Javascript for the frontend. It was deployed to the PostgreSQL database on render.
                </td>
                <td>check it out on <a href="">Github</a></td>
            </div>
        </tr>
        <tr>
            <div>
                <td><h4><img width=100px src="static/images/movielogo.png"><br>Movie compilation website site</h4></td>
                <td>I created a website that helps to compile the list of my favorite movies and ranks them from the best to the least best using the information passed in by me.
                    I plan on upgrading it in the future to allow multiple users to upload their best movies so it helps those who want to watch new movies.
                </td>
                <td>check it out on <a href="https://sitesorter.onrender.com/">Github</a></td>
            </div>
        </tr>

        <tr>
            <div>
                <td><h4><img width=100px src="static/images/pomodorologo.png"><br>Pomodoro timer</h4></td>
                <td>I created a timer using Tkinter to help manage time for intending users using to use the famous Pomodoro technique.
                </td>
                <td>check it out on <a href="">Github</a></td>
            </div>
        </tr>


  <tfoot>
    <tr>
      <th colspan= "4">And many more projects you can find on my <a href="https://github.com/Ugotactics?tab=repositories">Github Page</a>  <a id="home" href="{{url_for('welcome_page')}}">Home</a> </th>
    </tr>
  </tfoot>
    </table>
</div>
</body>
{% include 'footer.html' %}